/* HEADER
 * ====== */
HEADER[role="header"] {
	position: relative;

	A {
		text-decoration: none;
		color: #000;
	}
	.blogname {
		padding-left: 50px;
		position: relative;
		font-size: 30px;
		font-family: $secondary-ff;

		SPAN {
			display: inline-block;
		}
	}
	.blogavatar {
		width: 40px;
		height: 40px;
		margin-top: -18px;
		left: 0;
		top: 50%;
		position: absolute;
		@include border-radius($border-radius);
	}
}
/* /HEADER */

/* NAVIGATION
 * ========== */
NAV[role="navigation"] {
	width: 100%;
	padding: 10px 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	@include background(linear-gradient(top, rgba(238, 238, 238, 0.7), #E9E9E9));
	text-shadow: 1px 1px 0 #fff;

	UL {
		max-width: $max-width;
		margin: auto;
		font-size: 0;
	}
	LI {
		margin-right: 20px;
		display: inline-block;
		font-size: $default-fs;
	}

	@media screen and (max-width: 800px) {
		display: none;
	}
}
#mobile_navigation {
	padding: 6px 0;
	display: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	@include background(linear-gradient(top, rgba(238, 238, 238, 0.7), #E9E9E9));

	SELECT {
		max-width: $max-width;
		margin: 0 $main-padding;
		height: 24px;
		// @include box-sizing(border-box);
	}

	@media screen and (max-width: 800px) {
		display: block;
	}
}
/* /NAVIGATION */

/* CONTENT
 * ======= */
#content {
	#disqus_thread {
		margin-top: 18px;
	}

	ARTICLE {
		A[rel="full-article"] {
			margin-top: 6px;
			display: inline-block;
			line-height: 1.5em;
			text-decoration: none;
			font-weight: bold;
			font-size: 12px;
			color: #222;

			&:hover {
				color: #000;
			}
			SPAN {
				text-decoration: underline;
			}
		}
		p {
			margin: 15px 0 0 0;
			line-height: 1.5em;
			text-align: justify;
			color: #222;
		}
		HEADER {
			H1 {
				margin-top: 0;
				line-height: 1em;
				color: #333;
				font-size: 50px;
				font-weight: normal;
				font-family: $secondary-ff;
				text-shadow: 1px 1px 0 white,2px 2px 2px rgba(51, 51, 51, 0.3);
			}
			A {
				color: #333;
				text-decoration: none;
				&:hover {color: #000;}
			}
		}
		FOOTER {
			width: 100%;
			padding: 6px 10px;
			margin: 20px -10px 0;
			background: #F1F1F1;
			position: relative;
			@include border-radius($border-radius);
			@include box-shadow(2px 2px 0 rgba(102, 102, 102, 0.2));
			color: #666;
			font-size: 12px;
			text-shadow: 1px 1px 0 #fff;
			line-height: 1.5em;
			@include clearfix;
		}
	}
	ARTICLE[role="article"] {
		margin-top: 50px;
		padding-bottom: 2px;

		.entry-content {
			H1, H2, H3, H4, H5, H6 {
				margin-top: 15px;
				line-height: 1.5em;
			}
		}

		&:nth-child(1) {
			margin-top: 0;
		}
	}

	.entry-date,
	.entry-comments,
	.entry-categories {
		margin-right: 15px;
		float: left;

		A {
			color: #666;
		}
	}
	.entry-comments A {
		text-decoration: none;

		SPAN {
			text-decoration: underline;
		}
		&:hover SPAN {
			text-decoration: none;
		}
	}

	.share42init {
		height: 16px;
		float: right;

		A {
			@include opacity(.7);
			margin-left: 6px;
			&:hover {
				@include opacity(1);
			}
		}
	}
}
/* /CONTENT */

/* SIDEBAR
 * ======= */
#sidebar {
	line-height: 1.5em;

	.box {
		margin-bottom: 25px;
	}
}
/* /SIDEBAR */

/* FOOTER *
 * ====== */
FOOTER[role="contentinfo"] {
	font-size: 12px;
	color: #666;
	text-align: center;
}
/* /FOOTER */

/* STATISTICS
 * ========== */
.stats {position: absolute;left: 0;top: 0;visibility: hidden;}
/* /STATISTICS */

/* SEARCH
 * ====== */
#search {
	margin: 0 -9px 25px;
	// top: 50%;
	// position: absolute;

	.search {
		@include box-sizing(border-box);
		width: 100%;
		height: 36px;
		padding: 0 8px;
		border: 1px solid #ccc;
		@include border-radius(7px);
		@include box-shadow(0 1px 0 #ccc);
		@include background(linear-gradient(bottom, rgba(#f4f4f4, .5), #fff));
		font-size: 100%;
		@include text-shadow(1px 1px #fff);
		vertical-align: top;
		color: #aaa;

		outline: 0;
		&:focus {
			color: #255b8e;
			@include box-shadow(0 1px 0 #ccc);
		}
	}

	@media screen and (max-width: 800px) {
		display: none;
	}
}
/* /SEARCH */
