@import "compass";

@include global-reset;
@include reset-html5;

$max-width: 1000px;
$main-padding: 20px;

$default-fs: 16px;
$default-ff: "Trebuchet MS", Arial;
$secondary-ff: "PT Sans Narrow", sans-serif;

$border-radius: 7px;

body {
	background: #fff;
	font-size: $default-fs;
	font-family: $default-ff;
}

a {color:#255b8e; &:hover{text-decoration:none}}

h1, h2, h3, h4, h5, h6 {font-weight: bold}
h1 {font-size: 125%; color: #222}
h2 {font-size: 120%; color: #222}
h3 {font-size: 115%; color: #444}
h4 {font-size: 110%; color: #444}
h5 {font-size: 105%; color: #444}
h6 {font-size: 100%; color: #777}

em {font-style: italic}

@import "background", "modules", "appearance";
