@import "compass";
@import "_settings";
@import "normalize";
@import "base";

.blog-header H1 {
  color: $color-header-light;
  font-family: $font-header;
  font-size: 3.5rem;

  @media screen and (max-width: $media-width-big) {
    line-height: 1em;
    font-size: 3rem;
    }

  @media screen and (max-width: $media-width-small) {
    margin: 1rem 0 0.5rem;
    line-height: 1em;
    font-size: 2.5rem;
    }

  A {
    color: $color-header-light;
    text-decoration: none;

    &:hover {
      color: $color-link;
      }
    }
  }

.navigation {
  font-size: 1rem;

  @media screen and (max-width: $size-responsive-min) {
    margin: 0 auto;
    }

  A {
    margin: 0 10px;
    border-bottom: 1px solid $color-link;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    @media screen and (max-width: $media-width-big) {
      font-size: 0.8rem;
      }

    @media screen and (max-width: 400px) {
      height: 35px;
      margin: 0 0 -1px;
      display: block;
      position: relative;
      @include border-box;
      background: #FFF;
      border: 1px solid #ccc;
      line-height: 35px;
      text-decoration: none;

      &:hover {
        border-color: $color-link-hover;
        z-index: 50;
        }

      &:nth-child(1) {
        @include border-radius(4px 4px 0 0);
        }

      &:nth-last-child(1) {
        @include border-radius(0 0 4px 4px);
        }
      }
    }
  }

.articles {
  width: $media-width-big;
  margin: 2rem auto;

  text-align: center;
  @include clearfix;

  @media screen and (max-width: $media-width-big) {
    width: $size-width-index;
    }

  @media screen and (max-width: $media-width-small) {
    width: auto;
    margin: 2rem -1rem;
    }

  HEADER {
    margin-bottom: ($size-lh / 2);
    font-family: $font-header;
    color: $color-header;

    H2 {
      margin: 0;
      line-height: 3rem;
      font-size: 2.5rem;

      @media screen and (max-width: $media-width-small) {
        line-height: 2.5rem;
        font-size: 2rem;
        }

      A {
        line-height: $size-lh;
        color: $color-header;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid $color-header;
          }
        }
      }
    }

  FOOTER {
    padding: 0;
    margin: ($size-lh / 2) (-$padding-article) 0;
    border-top: 1px solid #e5e5e5;

    line-height: 35px;
    font-size: 0.8rem;
    font-weight: bold;

    @include background(linear-gradient(bottom, #e5e5e5, $color-bg-inside));

    @media screen and (min-width: $media-width-big) {
      height: 35px;
      overflow: hidden;
      }

    @media screen and (max-width: $size-responsive-min) {
      background: none;
      }

    @include clearfix;
    }

    .article_footer_readmore {
      float: left;
      border-right: 1px solid #e5e5e5;
      border-top: 1px solid #fff;
      @include border-box;
      text-align: left;

      @media screen and (max-width: $size-responsive-min) {
        width: 100%;
        float: none;
        border-right: 0;
        }

      A {
        padding: 0 $padding-article;
        display: block;
        @include border-box;
        @include background(linear-gradient(bottom, #e5e5e5, $color-bg-inside));

        &:hover {
          @include background(linear-gradient(bottom, #d7d7d7, $color-bg-inside));
          }

        &:active {
          color: $color-link-hover;
          @include box-shadow(inset 0 3px 10px -5px #000);
          @include background(linear-gradient(top, #e5e5e5, $color-bg-inside));
          }
        }
      }
    .article_footer_comments {
      border-top: 1px solid #fff;
      @include border-box;

      @media screen and (max-width: $size-responsive-min) {
        border-top: 0;
        }

      SPAN {
        padding: 0 $padding-article;
        display: inline-block;
        border-left: 1px solid #fff;

        @media screen and (max-width: $size-responsive-min) {
          display: block;
          border-left: 0;
          border-top: 1px solid darken(#d7d7d7, 5%);
          }

        SMALL {
          top: -0.3em;
          position: relative;
          font: {
            size: 0.7rem;
            weight: normal;
            style: normal;
            }
          }
        }
      }
    .article_footer_categories {
      padding: 0 $padding-article;
      @include border-box;

      I {
        letter-spacing: -0.10rem;
        font-style: normal;
        }
      }
  }
  .article {
    width: $size-width-index;
    padding: $padding-article $padding-article 1px;
    margin: 0 $margin-article ($margin-article * 2);
    position: relative;
    @include border-box;
    @include visual-inside;

    // typograph
    line-height: $size-lh;
    text-align: left;
    font-size: 1rem;
    }
    .article_picture {
      max-width: 100%;
      @include border-box;
      border: 1px solid $color-bg-inside;
      @include border-radius(2px);
      }
    .article_disqus {
      padding-top: 1rem;
      }
    .article--index {
      &[data-side="l"] {
        float: left;
        clear: left;
        }

      &[data-side="r"] {
        float: right;
        clear: right;
        }

      @media screen and (max-width: $media-width-big) {
        margin: 0 0 ($margin-article * 2);
        }

      @media screen and (max-width: $media-width-small) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        @include border-radius(0);
        float: none !important;
        }
      }
    .article--single,
    .article--page,
    .article--archive {
      width: $size-width-single;
      padding: ($padding-article+1) ($padding-article+2) 1px;
      margin-left: auto;
      margin-right: auto;

      FOOTER {
        height: auto;
        padding: 0.8rem 0;
        background: rgba(#ccc, 0.2);
        @include box-shadow(inset 0 0 2px #fff);
        line-height: 1rem;
        }

      @media screen and (min-width: $size-width-single) {
        FOOTER {
          margin: ($size-lh / 2) (-$padding-article - 2) 0;
          }
        .article_footer_categories {
          padding-left: $padding-article+2;
          padding-right: $padding-article+2;
          }
        }

      @media screen and (max-width: $media-width-big) {
        position: relative;
        left: -(($size-width-single - $size-width-index) / 2);
        }

      @media screen and (max-width: $size-width-single) {
        width: $size-width-index;
        padding: $padding-article $padding-article 1px;
        left: 0;
        }

      @media screen and (max-width: $media-width-small) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        @include border-radius(0);
        float: none !important;
        }
      }
      .article--single FOOTER {
        border-bottom: 1px solid #e5e5e5;
        }
      .article--page {
        padding-bottom: 2rem;
        }
      .article--archive {
        padding-bottom: 2rem;
        HEADER {
          IMG {
            margin-left: 1rem;
            vertical-align: middle
            }
          H2 A:hover {
            border: 0;
            }
          }
        LI {
          padding-left: 1.5em;
          margin-bottom: 1rem;
          text-indent: 0;
          }
        I {
          font-style: normal;
          }
        H2 {
          margin: 0;
          A {
            line-height: $size-lh;
            color: $color-header;
            text-decoration: none;
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom-color: $color-header;
              }
            }
          }
        .article_meta {
          margin-top: 0.4em;
          line-height: 1.6em;
          font-size: 0.8rem;
          }
        }

    .socialaccounts-list {
      margin: ($size-lh/2) 0;
      line-height: 0;
      font-size: 0;
      text-align: center;

      & + * {
        margin-top: -10px;
        }

      A {
        width: 32px;
        height: 32px;
        margin: 0 10px 10px 0;
        display: inline-block;
        @include opacity(0.5);
        background: url(../images/accounts.png) no-repeat;

        &:hover {
          @include opacity(1);
          }

        &[rel="fb"] {
          background-position: 0 0
          }
        &[rel="4sq"] {
          background-position: -32px 0
          }
        &[rel="github"] {
          background-position: -64px 0
          }
        &[rel="gplus"] {
          background-position: -96px 0
          }
        &[rel="instagram"] {
          background-position: -128px 0
          }
        &[rel="linkedin"] {
          background-position: -160px 0
          }
        &[rel="twitter"] {
          background-position: -192px 0
          }
        &[rel="vk"] {
          background-position: -224px 0
          }
        &[rel="pinterest"] {
          background-position: -256px 0
          }
        }
      }

  .project {
    margin: 0 -1rem;
    padding: 1rem;
    background: #f5f5f5;

    A {
      text-decoration: none;
      }

    FIGURE {
      IMG {
        margin-right: 1rem;
        float: left;
        }
      FIGCAPTION {
        line-height: 24px;
        }
      }
    }

.sidebar {
  margin: 0 auto 1rem;
  @include box-sizing(border-box);
  clear: both;
  text-align: left;
  @include link($color-header);
  }
  .sidebar_title {
    margin: 0;
    font-size: 1rem;
    }
  .sidebar_box {
    margin: 0 auto 1.5rem;
    position: relative;
    @include box-sizing(border-box);
    line-height: 1.3rem;
    font-size: 0.8rem;
    }
    .sidebar_box--categories {
      width: $size-width-index;
      padding: 0 $padding-article;

      @media screen and (max-width: $media-width-small) {
        width: auto;
        margin: 2rem -1rem;
        }
      }

// Not exist class
.footer {}
  .footer_avatar {
    border: 1px solid $color-bg;
    @include box-shadow(0 0 0 1px lighten($color-border, 15%));
    @include border-radius(50px);
    }
  .footer_copyright {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: $color-header;
    }
  .footer_google-author {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    }
