---
layout: default
---

<ul class="posts">
  {% assign year = "" %}
  {% for post in site.posts %}
    {% assign current_year = post.date | date: "%Y" %}
    {% unless year == current_year %}
  <li class="posts__text">{{ current_year }}</li>
    {% assign year = current_year %}
    {% endunless %}
  <li{% if post.cover %} class="posts__imagable" style="background-image: url({{ post.cover }});"{% endif %}>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>Posted at <time datetime="{{ post.date }}">{{ post.date | date: "%d %B" }}</time></p>
  </li>
  {% endfor %}
</ul>
