---
layout: default
title: "Категория:"
type: archive
---
<article class="article article--archive">
        <header>
          <h2>{{ page.title }}</h2>
        </header>
        <div class="article_content">
          {% assign last_year = "0" %}
          {% for post in site.categories[page.category] %}
          {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}

          {% if last_year == "0" %}
          {% assign last_year = this_year %}
          <h3>{{ this_year }}</h3>
          <ul>
          {% endif %}

          {% if last_year != this_year %}
          </ul>
          <h3>{{ this_year }}</h3>
          <ul>
          {% endif %}

          <li>
            {% include archive_post.html %}
          </li>
          {% assign last_year = this_year %}
          {% endfor %}
          </ul>
        </div>
      </article>
