.public
  .public__title
    h2.title Speaking

  .public__content
    .public__item
      .public__item-title Meetups @ datarockets
      .public__item-time February 2015 – Present
      a.public__item-link(href='https://www.youtube.com/channel/UC3FaevGv94T9zvtHlL9ch1g') YouTube channel
