/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body {
  font-size: 12px;
  line-height: 1;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #241412;
  position: relative;
  }
ol, ul {
  list-style: none;
  }
blockquote, q {
  quotes: none;
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  }

/* COMMON */

/* Import font: socicon */
@font-face {
  font-family: 'socicon';
  src: url('../fonts/socicon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('../fonts/opensanscondensed-google.woff') format('woff');
  }

/* basic */
html {
  height: 100%;
  }
body {
  min-width: 720px;
  min-height: 100%;
  }

h1, h2, h3, h4, h5, h6,
.blog-title,
li.postlist-year,
.goback {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  }

h2 {
  font-size: 18px;
  position: relative;
  }
  h2 i {
    font-weight: normal;
    font-size: 12px;
    position: relative;
    top: -7px;
    color: #188418;
    }
h3 {
  font-size: 16px;
  line-height: 1.8em;
  }
h4 {
  font-size: 14px;
  line-height: 1.8em;
  }
h5 {
  font-size: 12px;
  line-height: 1.8em;
  }
h6 {
  font-size: 10px;
  line-height: 1.8em;
  }

em {
  font-style: italic;
  }
strong,
b {
  font-weight: bold;
  }

a {
  text-decoration: underline;
  color: #402724;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  }
a:hover {
  color: #C00;
  }

/* page */

header,
section,
footer {
  width: 600px;
  margin: auto;
  }

header {
  position: relative;
  }

  header h1 {
    margin: 5px 0 25px;
    font-size: 50px;
    font-weight: bold;
    color: #2d4eaf;
    text-shadow: 0 1px 0 #fff;
    }

nav {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  font-weight: bold;
  }

  nav a {
    font-size: 12px;
    margin-right: 10px;
    }

section {
  min-height: 100%;
  padding-bottom: 100px;
  }

section[role~='author'] {
  font-size: 14px;
  line-height: 1.8em;
  }

section[role~='author'] h2,
section[role~='author'] ul,
section[role~='author'] p {
  margin-bottom: 10px;
  }

section[role~='author'] li {
  text-indent: 0 !important;
  }

section[role~='author'] li:before {
  left: -15px !important;
  }

.list_projects {
  margin-left: -50px;
  line-height: 1.6em;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  overflow: auto;
  }
  .list_projects:after {
    display: block;
    content: "";
    clear: both;
    }
  .list_projects li:before {visibility: hidden;}
  .list_projects li {
    float: left;
    }
  .list_projects a {
    width: 90px;
    padding: 110px 5px 0;
    display: block;
    position: relative;
    background: url(../img/logo_0.png) no-repeat 0 0;
    font-weight: bold;
    font-style: normal;
    }
  .list_projects img {
    position: absolute;
    top: 0;
    left: 0;
    }

.cover {
  width: 700px;
  height: 310px;
  margin-left: -50px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  font-family: socicon;
  }
  .cover img {
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
  .cover a {
    width: 40px;
    height: 40px;
    background: #fff;
    display: block;
    position: absolute;
    z-index: 1000;
    text-decoration: none;
    color: #444444;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    opacity: .7;
    box-shadow: 0 0 25px 1px #000;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    }
  .cover a[href*="vk.com"] {bottom: 70px;left: 100px;background: #6086ad;color: #feffff;text-shadow: 1px 1px #315177;}
  .cover a[href*="vk.com"]:before {content: ";";}
  .cover a[href*="twitter.com"] {bottom: 70px;left: 50px;background: #00abf0;color: #fff;text-shadow: 0px 1px 0 #005475;}
  .cover a[href*="twitter.com"]:before {content: "a";}
  .cover a[href*="fb.com"] {bottom: 70px;left: 150px;background: #3C599F;color: #fff;text-shadow: 1px 1px 0 #283c6b}
  .cover a[href*="fb.com"]:before {content: "b";}
  .cover a[href*="instagram.com"] {bottom: 20px;left: 50px;background: #dcc3af;color: #845952;text-shadow: 0px 1px #272727}
  .cover a[href*="instagram.com"]:before {content: "x";}
  .cover a[href*="linkedin.com"] {bottom: 20px;left: 100px;background: #0274b3;color: #fff;text-shadow: 1px 1px #024b72}
  .cover a[href*="linkedin.com"]:before {content: "j";}
  .cover a[href*="plus.google.com"] {bottom: 20px;left: 150px;background: #dd4b39;color: #fff;text-shadow: 1px 1px 0 #993327;}
  .cover a[href*="plus.google.com"]:before {content: "c";}
  .cover a:hover {
    opacity: 1;
    box-shadow: 0 0 5px 0 #000;
    -moz-transform: scale(1.2); /* Для Firefox */
    -ms-transform: scale(1.2); /* Для IE */
    -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1.2); /* Для Opera */
    transform: scale(1.2);
    }
  .cover a:hover ~ img {
    -webkit-filter: blur(1px);
    }
  .cover a:active {
    -moz-transform: rotate(15deg); /* Для Firefox */
    -ms-transform: rotate(15deg); /* Для IE */
    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(15deg); /* Для Opera */
    transform: rotate(15deg);
    }

article {
  position: relative;
  line-height: 1.8em;
  font-size: 14px;
  }
  .article-title {
    font-size: 30px;
    line-height: 1.2em;
    }
  article a {
    color: #188418;
    }
  article p,
  article h2,
  article h3,
  article h4,
  article h5,
  article ul,
  article blockquote {
    margin-top: 18px;
    }
  article li,
  section[role~='author'] li {
    text-indent: 1.5em;
    position: relative;
    }
  article li:before,
  section[role~='author'] li:before {
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    vertical-align: top;
    top: 8px;
    left: 5px;
    border: 4px solid rgba(37, 34, 14, 0.48);
    border-radius: 4px;
    content: "";
    }
  article blockquote {
    margin: 0;
    padding: 0.3rem 1rem;
    color: #555;
    }

#disqus_thread {
  margin-top: 30px;
  }

.list_posts {}
  .list_posts h2 a {
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
    }
  .list_posts li {
    margin-left: 70px;
    margin-bottom: 20px;
    }
  .list_posts .-year {
    margin-left: 0;
    float: left;
    font-size: 25px;
    font-weight: bold;
    }

footer {
  height: 30px;
  padding: 10px 0;
  margin: 0 0 0 -300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-top: 1px solid #ddd;
  background: #ffffff;
  line-height: 30px;
  color: #666;
  }

@media screen and (max-width: 720px) {
  body {
    width: 100%;
    min-width: 100%;
    position: relative;
    }
  header,
  footer,
  section {
    width: calc(100% - 100px);
    margin: 0 50px;
    }
  footer {
    left: 0;
    }
  .cover {
    width: calc(100% + 100px);
    height: auto;
    }
    .cover img {
      width: 100%;
      }
  .list_posts li {
    margin-left: 0;
    }
  .list_posts .-year {
    float: none;
    }
  }
