---
layout: default
ptitle: Блог Евгения Жлобо
---

<ul class="postlist">
	{% assign year = "" %}
	{% for post in site.posts %}
		{% assign current_year = post.date | date: "%Y" %}
		{% unless year == current_year %}
	<li class="postlist-year">{{ current_year }}</li>
		{% assign year = current_year %}
		{% endunless %}
	<li>
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p><time datetime="{{ post.date }}">{{ post.date | date: "%d" | date_day }} {{ post.date | date_rus_month }}</time> {% if post.categories.size > 0 %}опубликовано в {{ post.categories | category_links }}{% endif %}</p>
	</li>
	{% endfor %}
</ul>
