      {% include post/date.html %}
      {% include post/categories.html %}
      <article class="article article--{% if page.type %}{{ page.type }}{% else %}index{% endif %}">
        <header>
          <h2>{% if index %}<a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>{% else %}{{ page.title }}{% endif %}</h2>
        </header>
        <div class="article_content">
{% if index %}{{ content | excerpt }}{% else %}{{ content }}{% endif %}
        </div>
        {% unless page.type == "page" %}<footer>
          {% if index %}<div class="article_footer_readmore">
            <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
          </div>
          <div class="article_footer_comments">
            <span>
              <a href="{{ root_url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ site.url }}{{ root_url }}{{ post.url }}">Комментарии</a>
              <small></small>
            </span>
          </div>{% else %}<div class="article_footer_categories">
            Опубликовано {{ date_formatted }} {% if category != '0' %}в: {{ category_inline }}{% endif %}
          </div>{% endif %}
        </footer>{% endunless %}
        {% if page.type == "single" %}{% include post/comments.html %}{% endif %}
      </article>
