<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.ptitle }}</title>
		<meta name="viewport" content="width=device-width">

		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic' rel='stylesheet' type='text/css'> -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic' rel='stylesheet' type='text/css'> -->
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		<header>
			{% include menu.erb %}
			<p class="blog-title">{{ page.ptitle }}{% if page.category %}«{{ page.category }}»{% endif %}</p>
		</header>
		<section role="content {{ page.role }}">
			{{ content }}
			<div class="footer-underground"></div>
		</section>
		<footer>
			{% include menu.erb %}
		</footer>

		<script src="/assets/js/main.js"></script>
	</body>
</html>
