<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.ptitle }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="/assets/css/main.css">
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-38228285-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>
		<header>
			{% include menu.erb %}
			<h1>{{ page.ptitle }}{% if page.category %}«{{ page.category }}»{% endif %}</h1>
		</header>
		<section{% if page.role %} role="{{ page.role }}"{% endif %}>
			{{ content }}
		</section>
		<footer>
			{% include menu.erb %}
		</footer>
	</body>
</html>
