<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <style>
{% include core.css %}
    </style>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.previous %}<link rel="prev" href="{{ site.url }}{{ page.previous.url }}">{% endif %}
    {% if page.next %}<link rel="next" href="{{ site.url }}{{ page.next.url }}">{% endif %}
    <link rel="publisher" href="https://plus.google.com/+{{ site.social_networks.gplus }}">

    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="article:publisher" content="https://www.facebook.com/{{ site.social_networks.facebook }}">
    <meta property="og:image" content="{% if page.cover %}{{ page.cover }}{% else %}{{ site.author_photo }}{% endif %}">

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <script>
{% include fonts.js %}
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="header">
      <h1>{{ site.author }}</h1>
      <p>{{ site.description }}</p>
    </header>

    <main>
      {{ content }}
    </main>

    <script>
{% include tap.js %}
{% include core.js %}
{% if page.path contains '_posts' %}
  {% include disqus.js %}
  {% include echo.js %}
{% endif %}
    </script>
  </body>
</html>
