---
layout: default
ptitle: Блог Евгения Жлобо
---

<article role="post">
	<h2 class="article-title">{{ page.title }}</h2>
	{{ content }}
</article>
<div id="disqus_thread"></div>
<script>
var disqus_shortname = 'ezhlobo';
// var disqus_developer = 1;
var disqus_identifier = 'http://evgen.zhlobo.info{{page.url}}/';
var disqus_url = 'http://evgen.zhlobo.info{{page.url}}/';
var disqus_script = 'embed.js';
(function () {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
}());
</script>
