---
layout: default
---

<a href="/" class="btn">« All notes</a>

<article role="post">
  <h2>{{ page.title }}</h2>
  <div>
    {{ content }}
  </div>
</article>

<aside>
  <div id="disqus_trigger" class="btn" onclick="this.nextElementSibling.classList.toggle('_show')">Show comments</div>
  <div id="disqus_thread"></div>
</aside>

<script async>
  var disqus_shortname = 'ezhlobo';
  var disqus_url = '{{ page.permalink }}';
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//go.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
