.contacts
  .contacts__title
    h2.title Contacts

  .main__content
    .contacts__item
      <a href='mailto:e.zhlobo@datarockets.com'>e.zhlobo@datarockets.com</a>

    .contacts__item
      | Skype: <a href='skype:evgen.zhlobo'>evgen.zhlobo</a>

    .contacts__item
      | <a href='https://github.com/ezhlobo'>github.com/ezhlobo</a>
